.header {
    background-color: black;
    color: white;
    font-size: 30px;
    font-family: Bebas Neue;
    font-weight: bold;
    display: flex;
    align-items: center;

}

.header .container {
    display: flex;
    align-items: center;
    padding: 12px 0 12px 0.5em;
}
.header li {
  font-size: 30px;
  font-family: Bebas Neue;
  font-weight: bold;
  display: inline-block;
  margin-left: 20px;
}

.header ul {
  list-style: none;
  text-align: center;
}


.BG img {
  height: 700px;
  width: 100%;
}
